@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    :root {
         --background-color-primary: #29d6a2;
         /* --background-color-secondary: #bf9038;  */
         /* --background-color-secondary: #c7a55e;  */
         --background-color-secondary: #dae4e3; 
         --background-color-custom: #F9FBE7; 

         --text-color-primary: #000000;
         --text-color-secondary: #045a36;
         --text-header-primary: #12be7c;
         --text-header-secondary: #ffffff;
         /* --text-header-color: #CCA531; */
         --text-color: #0ab953;

        --border-color: #0d9c71;
        /* --text-color-secondary: #090a0a; */
        /* --text-color: #254161; */
        --button-color: #1d8b7d;
        --button-hover-color: rgb(89, 190, 194);
        --button-hover-ring: #faf7a3;
    }
}


html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
   
    box-sizing: border-box;
}